@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3B82F6;
  --color-secondary: teal;
}

.btn-primary {
    @apply bg-gradient-to-r from-[#FF4D4F] to-[#FF7875] border-none text-white;
}


.btn-primary:hover{
    @apply opacity-90;
}
/* styles.css or your global css */
.bg-primary {
  @apply bg-gradient-to-r from-blue-700 to-sky-400 text-white border-none;
}
